<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/startupPages.css">
</head>
<body class="container">

<header>
    <%- include('../../partials/generalHeader'); %>
</header>

 <h1>Buna  <%-user.name%>, te-ai inregistrat cu succes.</h1>
 <div class="links">
  <p>Acum te poti loga in cont. <a href="/login">Login</a></p>
</div>

<footer class="footer bg-light text-center text-lg-start">
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>