.addBtn{
    background-color: black;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addBtn:hover {
    opacity: 0.8;
    background-color: green;
}

.addSpecializationsBtn{
    background-color: black;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addSpecializationsBtn:hover {
    opacity: 0.8;
    background-color: green;
}

/* .editBtn{
    background-color: black;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
} */

.editBtn:hover {
    opacity: 0.8;
    background-color: blue;
}

/* .cloneBtn{
    background-color: black;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer;
} */

.cloneBtn:hover {
    opacity: 0.8;
    background-color: yellow;
}

.deleteBtn{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover {
    opacity: 0.8;
    background-color: red;
}

.deleteBtnCard {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.deleteBtnCard:hover {
    opacity: 0.8;
    background-color: red;
}


.acceptBtn{
    background-color: black;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.acceptBtn:hover {
    opacity: 0.8;
    background-color: green;
}

.rejectBtn{
    background-color: black;
    color: white;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.rejectBtn:hover {
    opacity: 0.8;
    background-color: red;
}

.applyBtn{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.applyBtn:hover {
    opacity: 0.8;
    background-color: green;
}

.detailsBtn{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.detailsBtn:hover {
    opacity: 0.8;
    background-color: green;
}