.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  background-color: #f8f9fa;
  padding: 1rem 0;
  text-align: center;
  font-size: 14px;
}

.footer .p-3 {
  margin: 0;
  padding: 1rem;
}
