html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.newTopic {
  border: 1px solid #ccc;
  padding: 1rem;
}

.topicsContainer {
  border: 1px solid #ccc;
  border-bottom: none;
}

.requestsContainer{
  border: 1px solid #ccc;
  border-bottom: none;
}

.card-footer{
  border: 1px solid #ccc;
  border-top: none;
}

.hidden {
  display: none;
}