html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

.newTopic {
  border: 1px solid #ccc;
  padding: 1rem;
}

.topicsContainer {
  border: 1px solid #ccc;
}