<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="container">
    <header>
        <%- include('../../partials/teacherHeader') %>
    </header>

    <main>
      <%- include('../../partials/about') %>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
