<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../../partials/teacherHeader') %>
    </header>

    <h1>Bine ai venit Profesore!</h1>
    

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
