<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="container">
    <header>
        <%- include('../partials/authHeader') %>
    </header>

    <h1>Bine ai venit!</h1>
    <div class="links">
        <h2>Despre noi: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h2>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
