<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>

    <h1>Bine ai venit!</h1>
    <div class="links">
        <p>Ai deja un cont? <a href="/login">Login</a></p>
        <p>Nu ai un cont? <a href="/register">Register</a></p>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
