<html lang="en">
<head>
  <%- include('../../partials/admin/head') %>
</head>
<body>

  <div class="sidebar">
    <a href="/admin/dashboard">Acasa</a>
    <a href="/admin/faculties">Gestioneaza facultatile</a>
    <a href="#">Gestioneaza specializarile</a>
    <a href="#">Gestioneaza utilizatorii</a>
    <a href="#">Gestioneaza temele</a>
    <a href="#">gestioneaza specializari-teme</a>
    <a href="#">gestioneaza cereri teme</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <button class="btn btn-primary">Adauga facultate</button>
      </li>
    </header>
    
    <div class="container mt-3">
  
    </div>

  </div>
</body>
</html>
