<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../../partials/adminHeader') %>
    </header>

    <main>
        <ul id="ulUsers">
            <% topics.forEach(function(topic) { %>
              <li class="liUsers">
                <div>Titlu</div>
              </li>
            <% }); %>
          </ul>
    </main>
    

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
